<html>
    <head>

    </head>

    <body>

        <form action="#" method="post">
            <input type="text" name="projectFilepath">
            <input type="submit">
        </form>

        <br>
        <h2> Recommendation System </h2>

        
            {{init_msg}}
            {% for item_record in data %}
                    <h3><p>{{item_record.name}}</p></h3>
                    <ul>
                        <li>{{item_record.brand}}</li>
                        <li>{{item_record.categories}}</li>
                    </ul>   
            {% endfor %}
    </body>
</html>